{% extends "layout.jinja" %}
{% block head %}
    <style>
        /* Custom styles to center the card on the page */
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}

{% block header %}
{#  Remove menu #}
{% endblock %}

{% block main %}
    <article>
    <h2>Login</h2>
        <form method="post" action="{% url "login" %}">
            {{ form }}
            <button type="submit">Login</button>
        </form>
    </article>
{% endblock %}