{% extends 'layout.jinja' %}

{% block title %}Dashboard{% endblock %}
{% block main %}
    <div class="grid">
        {% for user in user_chores %}
            <article>
                <header><h1>{{ user.name }}</h1></header>
                <table>
                    {% for chore in user.chores %}
                        <tr>
                            <td>{{ chore.name }}</td>
                            <td>
                                <button hx-post="{% url "dashboard-task-complete" id=chore.id %}">Done</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <footer>
                    <details>
                        <summary>Done</summary>
                        <ul>
                            {% for chore in user.completed_chores %}
                                <li><s>{{ chore.name }}</s></li>
                            {% endfor %}
                        </ul>
                    </details>
                </footer>
            </article>
        {% endfor %}
    </div>

    <article>
        <header><h2>Meals</h2></header>
        <table>
            <thead>
            <tr>
                <th>Breakfast</th>
                <th>Lunch</th>
                <th>Dinner</th>
            </tr>
            </thead>
            <tr>
                <td>{{ meals.breakfast }}</td>
                <td>{{ meals.lunch }}</td>
                <td>{{ meals.dinner }}</td>
            </tr>
        </table>
    </article>
{% endblock %}