{% extends 'haos_layout.jinja' %}

{% block title %}Dashboard - Meal{% endblock %}
{% block main %}
    <table>
        <tr>
            <th><strong>Breakfast</strong></th>
            <th>{{ meals.breakfast }}</th>
        </tr>
        <tr>
            <th><strong>Lunch</strong></th>
            <th>{{ meals.lunch }}</th>
        </tr>
        <tr>
            <th><strong>Dinner</strong></th>
            <th>{{ meals.dinner }}</th>
        </tr>
    </table>
{% endblock %}
