<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <title>Hello world!</title>
</head>
<body hx-boost="true" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<main class="container">
    <h1>List</h1>
    <article>
        <form method="post" action="{% url "add-item" %}">
              <fieldset role="group">
            {{ form.name }}
                  <button type="submit">Add</button>
              </fieldset>
        </form>
        {% for item in items %}
            <nav>
            <label>
                    <input type="checkbox"
                           hx-post="{% url "edit-item" id=item.pk %}"
                            {% if item.completed %} checked {% endif %}
                    >
                    {{ item.name }} 
            </label>
                <a class="rtl" hx-delete="{% url "edit-item" id=item.pk %}"><i class='bx bxs-x-circle'></i></a>
            </nav>
        {% endfor %}

    </article>
</main>
</body>
</html>